
<app-card></app-card>
<div class="card-form">
<mat-dialog-content class="content">
    
    <form class="form-dialog mat-elevation-z3" #formRegistration="ngForm">
        <mat-form-field>
            <mat-label>#Id:</mat-label>
            <input  matInput type="text" value={{data.id}} name="id" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input  matInput type="text" value={{data.name}} name="name" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="email" value={{data.email}} placeholder="E-mail Válido" name="email" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nivel de Acesso:</mat-label>
            <input matInput type="text" [(ngModel)]="data.level" placeholder="Valor Menor Igual 4" name="level" autocomplete="off">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="confirm(data)" color="primary">Enviar</button>
    <button mat-raised-button (click)="closeDialog()" color="accent">Cancelar</button>
</mat-dialog-actions>
</div>
