<mat-card class="mt-main-comp-view mat-elevation-z3">
    <form class="form-col-1" #formStep="ngForm">
        <mat-form-field>
            <mat-label>Etapa:</mat-label>
            <input matInput type="text" [(ngModel)]="step.step" name="step">
        </mat-form-field>
    </form>
    <div class="div-form-col-1">
        <button mat-raised-button (click)="create()" color="primary">Cadastrar</button>
        <button mat-raised-button (click)="comeBack()" color="warn" [disabled]="disabled">Voltar</button>
    </div>
</mat-card>
