<app-card></app-card>
<div class="card-form">
<mat-dialog-content class="content">
    
    <form class="form-dialog mat-elevation-z3" #formRegistration="ngForm">
        <mat-form-field>
            <mat-label>#Empreiteiro:</mat-label>
            <input  matInput type="text" [(ngModel)]="contact.name_contractor" name="contractor" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contato:</mat-label>
            <input  matInput type="text" [(ngModel)]="contact.contact" name="contact" [disabled]="disabled" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Celular/WhatsApp:</mat-label>
            <input  matInput type="text" maxlength="{{ maxlength_input_tel }}" [(ngModel)]="contact.cel_phone" (keyup)="maskTel()" name="cel-phone" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input  matInput type="email" [(ngModel)]="contact.email" name="email" autocomplete="off">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="confirm()" color="primary">Enviar</button>
    <button mat-raised-button (click)="closeDialog()" color="accent">Cancelar</button>
</mat-dialog-actions>
</div>
