<mat-card class="mt-main-comp-view mat-elevation-z3">
    <form class="form-col-1">
        <mat-form-field>
            <mat-label>Símbolo:</mat-label> 
            <input  matInput type="text" name="symbol">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição:</mat-label>
            <input matInput type="text" name="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Grupo:</mat-label>
            <input matInput type="text" name="group">
        </mat-form-field>
    </form>
    <div class="div-form-col-1">
        <button mat-raised-button color="primary">Cadastrar</button>
        <!--span>Não tem cadastro?</span><a routerLink="/usuario/cadastrar">Clique aqui</a-->
    </div>
</mat-card>
