.card-form {
    margin-right: 10px;
    width: 510px;
}

.content {
    overflow: hidden;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.form-dialog {
    padding-top: 10px;
}

mat-form-field {
    margin: 0px 0px 0px 0px;
    width: 80%;
}

app-card {
    position: relative;
    top: 7px;
    text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content:space-evenly;
    margin-left: 22px;
    width: 92%;
}