<app-card></app-card>
<div class="card-form">
    <mat-dialog-content class="content">    
        <form class="form-dialog mat-elevation-z3" #formRegistration="ngForm">
            <mat-form-field>
                <mat-label>#Empreiteiro:</mat-label>
                <input  matInput type="text" [(ngModel)]="data.name" name="contractor" [disabled]="true">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contato:</mat-label>
                <input  matInput type="text" [(ngModel)]="data.contact" name="contact" autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Celular/WhatsApp:</mat-label>
                <input  matInput type="text" maxlength="{{ maxlength_input_tel }}" [(ngModel)]="data.cel_phone" (keyup)="maskTel()" name="cel-phone" autocomplete="off">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input  matInput type="email" [(ngModel)]="data.email" name="email" autocomplete="off">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="teste(data)" color="primary">Enviar</button>
        <button mat-raised-button (click)="closeDialog()" color="accent">Cancelar</button>
    </mat-dialog-actions>
</div>
