<app-card></app-card>
<div class="card-form">
    <mat-dialog-content class="content">
        
        <form class="form-dialog mat-elevation-z3" #formRegistration="ngForm">
            <!--div class="div-flex-row"-->
                <mat-form-field>
                    <mat-label>#{{data.entity}}:</mat-label>
                    <input  matInput type="text" [(ngModel)]="data.name" name="contractor" [disabled]="true">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Endereço:</mat-label>
                    <input  matInput type="text" [(ngModel)]="data.address" name="address" autocomplete="off">
                </mat-form-field>
            <!--/div-->
            <!--div class="div-flex-row"-->
                <mat-form-field>
                    <mat-label>Bairro:</mat-label>
                    <input  matInput type="text" [(ngModel)]="data.district" name="district" autocomplete="off">
                </mat-form-field>
                
            <!--/div-->
            <div class="div-flex-row">
                <mat-form-field id="cep">
                    <mat-label>CEP:</mat-label>
                    <input  matInput type="text" maxlength="{{ maxlength_input_zip_code}}" [(ngModel)]="data.zip_code" (keyup)="maskCep()" name="zip-code" autocomplete="off">
                </mat-form-field>
                <mat-form-field id="city">
                    <mat-label>Cidade:</mat-label>
                    <input  matInput type="text" [(ngModel)]="data.city" name="city" autocomplete="off">
                </mat-form-field>
                <mat-form-field id="uf">
                    <mat-label>UF:</mat-label>
                    <input  matInput type="text" [(ngModel)]="data.uf" name="uf" autocomplete="off">
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="sendData(data)" color="primary">Enviar</button>
        <button mat-raised-button (click)="closeDialog()" color="accent">Cancelar</button>
    </mat-dialog-actions>
</div>
