/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    margin: 5px 20px 0 5px;
}

mat-form-field {
    padding: 10px 50px 0 50px;
}

mat-paginator {
    padding-bottom: 10px;
}

.red {
    color: #e35e6b;
}

.blue {
    color: #3d5f9e;
}

.msg-danger {
    color: white;
    --mdc-snackbar-container-color:  #F44336 !important;
}

.msg-success {
    color: white;
    --mdc-snackbar-container-color:  #1B5E20 !important;
}

.div-form-col-1 {
    display: flex;
    margin:0 0 20px 50px;
}

.div-form-col-1 button {
    margin-right: 30px;
}

.div-form-col-1 a {
    margin-left: 5px;
    text-decoration: none;
    color:#3d5f9e;
    font-weight: 600;
}

.form-col-1 {
    display: flex;
    flex-direction: column;
}

.div-tb-list {
    padding: 10px 50px 0 50px;
}

.div-tb-list hr {
    margin-bottom: 0px;
}

.div-t-bar-list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 50px 10px 50px;
    margin-bottom: 1px;
}

i {
    vertical-align: middle;
    padding: 0 10px 5px 0;
}

.div-btn-form {
    width: 350px;
}