<mat-card class="mt-main-comp-view mat-elevation-z3">
    <app-filter [searchField]="searchField" [addHidden]="addHidden" (lookup)="search($event)" (origin)="pageOrigin()"></app-filter>
    <div class="div-tb-list  mat-elevation-z3">
        <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let unit">{{unit.id}}</td>
            </ng-container>
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Símbolo</th>
                <td mat-cell *matCellDef="let unit">{{unit.symbol}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                <td mat-cell *matCellDef="let unit">{{unit.description}}</td>
            </ng-container>
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</th>
                <td mat-cell *matCellDef="let unit">{{unit.group}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
        </table>
        <hr>
        <app-paginator [totalSize]="totalSize" [currentPage]="currentPage" [sizeOptions]="sizeOptions" 
        (cPage)="paginate($event)" (pSize)="changePageSize($event)"></app-paginator>
    </div>
</mat-card>
