<mat-card class="mt-main-comp-view mat-elevation-z3">
    <form class="form-col-1">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input  matInput type="text" name="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CPF:</mat-label>
            <input matInput type="text" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Celular:</mat-label>
            <input matInput type="tel" name="celphone">
        </mat-form-field>
    </form>
    <div class="div-form-col-1">
        <button mat-raised-button color="primary">Cadastrar</button>
        <!--span>Fazer</span><a routerLink="/">login</a-->
            <span>
                <a routerLink="/">
                    <i class="material-icons vertical-middle">key</i>Fazer login
                </a>
            </span>
    </div>
</mat-card>
