<mat-card class="mt-main-comp-view mat-elevation-z3">
    <form class="form-col-1">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input  matInput type="text" value="{{ name }}" placeholder="Nome:" name="name" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="email" value="{{ email }}" name="email" [disabled]="true" #emailValue>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova Senha:</mat-label>
            <input matInput type="password" [(ngModel)]="data.password1" placeholder="Mínimo 6 Caracteres" name="password1">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmar Senha:</mat-label>
            <input matInput type="password" [(ngModel)]="data.password2" placeholder="Confirme" name="password2">
        </mat-form-field>
    </form>
    <div class="div-form-col-1">
        <button mat-raised-button (click)="store()" color="primary">Atualizar</button>
        <!--span>Fazer</span><a routerLink="/">login</a-->
            <span>
                <a routerLink="/">
                    <i class="material-icons vertical-middle">key</i>Fazer login
                </a>
            </span>
    </div>
</mat-card>
